/* ===== Navbar Base ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #00c897;
  color: white;
  padding: 12px 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* ===== Logo ===== */
.nav-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

/* ===== Actions (Login + Sign Up) ===== */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px; /* space between login and signup */
}


/* ===== Sign Up Button ===== */
.signup-btn {
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: white; /* green color */
  color: black;
  transition: all 0.3s ease;
}

.signup-btn:hover {
  background-color: white;
  transform: scale(1.05);
}
