services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    volumes:
      - data-volume:/data/db
    ports:
      - "27017:27017"
    networks:
      - app-network

  backend:
    image: bhagya122/my-backend1-image:latest
    container_name: backend
    ports:
      - "4000:4000"
    networks:
      - app-network
    depends_on:
      - mongodb
    environment:
      - PORT=4000
      - DB_URI=mongodb://mongodb:27017/mydb
      - JWT_SECRET=${JWT_SECRET}
    restart: unless-stopped

  frontend:
    image: bhagya122/my-frontend1-image:latest
    container_name: frontend
    ports:
      - "3000:3000"
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  data-volume:
