services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    volumes:
      - data-volume:/data/db
    ports:
      - "27017:27017"
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: myapp-backend
    container_name: backend
    volumes:
      - ./backend:/app
    ports:
      - "4000:4000"
    networks:
      - app-network
    depends_on:
      - mongodb
    environment:
      - PORT=4000
      - DB_URI=mongodb://mongodb:27017/mydb
      - JWT_SECRET=${JWT_SECRET}
    command: ["npx", "nodemon", "index.js"]
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: myapp-frontend
    container_name: frontend
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  data-volume:
